.container {
  /* min-width: 40%; */
  padding: 0.7rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
  background-color: #e1e3e4;
  border-radius: 2rem;
  margin-right: 0.8rem;
}

.tagcontainer {
  display: flex;
  flex-wrap: wrap;
}

.selected {
  background-color: #002c72;
  color: white;
}
