.Card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.Cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .Cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .Cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.css-1qaznj3-MuiCardContent-root {
  padding: 5px;
}
.MuiTypography-h5-519 {
  font-size: 2.2285714285714286rem;
  font-family: Poppins, Roboto, "Helvetica", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.334;
  height: 10px;
}
.data_name {
  font-size: 1.7rem;
  font-family: Poppins, Roboto, "Helvetica", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.334;
  height: 10px;
  padding: 5px;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  cursor: pointer;
  /* margin-top: 1.4rem; */
}

@media screen and (max-width: 800px) {
  .box {
    width: 100%;
    height: auto;
    /* margin-top: 10%;  */
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.card {
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.a,
.b {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}
.img3 {
  object-fit: cover;
  border-radius: 4px;
  background-color: rgba(44, 41, 35, 0.103);
  float: left;
  /* width: 72px;
  height: 66px; */
  display: block;
  /* margin-right: 2%; */
}
.user_wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
